body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.container {
    margin: 50px auto;
    width: 70%;
}

.container > :first-child {
    margin-top: 0;
}

.container > :last-child {
    margin-bottom: 0;
}

.cards {
    display: flex;
}

.cards-horizontal {
    flex-flow: wrap;
}

.card {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow .2s;
}

.card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Serif';
    font-weight: 500;
    font-style: italic;
}

h1.title {
    text-align: center;
    font-weight: 400;
    font-size: 3em;
}

code {
    color: #88a;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 2px 5px;
    background: #eee;
    border-radius: 3px;
}

.example-component {
    font-style: italic;
    color: #3b7;
}

ul {
    margin: 0;
}

.ok {
    color: rgb(51, 192, 121);
}

.error {
    color: rgb(204, 76, 91);
}
